body{
  min-height: 100vh;
  min-width: 100vw;
  background-color: #e2e2e2;
  margin:0;
  overflow-x: hidden;
  padding:1rem 2rem;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.customGridContainer{
  margin:1rem 0;
  width: clamp(24rem,90vw,30rem);
  height: clamp(24rem,50vh,50rem);
}
@media only screen and (min-width: 900px) {
  .App{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 3rem 3rem auto;
    gap:1rem;
  }
  .appTitle{
    grid-column: 1 / 4;
    grid-row: 1 /2;
  }

  .btnGridSettings, .btnAddImage{
    grid-column: 1 / 2;
    grid-row: 2 /3;
  }
  .btnGridSettings{
    border: none;
    background-color:transparent ;
    border: 1px solid #0f0f0f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #0F0F0F;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    transition: background-color 0.3s ease-in-out;
    justify-self: start;
  }
  .btnGridSettings > img{
    width: 1rem;
    height: 1rem;
    padding: 0 0.5rem 0 0;
  }
  .btnGridSettings:hover{
    background-color: aliceblue;
  }

  .btnAddImage{
    justify-self: end;
  }

  .customGridContainer{
    grid-column: 1 / 2;
    grid-row: 3 /4;
  }

  .imageSlider{
    
    grid-column: 2 / 3;
    grid-row: 3 /4;
  }

  .imageEditor{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  
}